################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/model/20180408-102900.pb
